@mm: @lg;

.header {
	display: none;
	
	@media (@mm) {
		display: block;
	}
}

.main_menu {
	position: relative;
	
	&::before {
		pointer-events: none;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 111111 !important;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	}
	
	&_gorizontal {
		display: none;
		height: auto;
		
		@media (@mm) {
			display: block;
		}
	}
	
	&-mobile {
		position: sticky;
		top: 0;
		max-height: 100vh;
		overflow-y: auto;
		background: #fff;
		z-index: 333;
		
		@media (@mm) {
			display: none;
		}
		
		&::before {
			content: none;
		}
		
		.dropdown-menu {
			position: static;
			float: none;
			
			>li>a {
				white-space: normal;
			}
		}
		
		.navbar {
			
			&-toggle {
				background: no-repeat;
				.icon(25, menu-open);
				font-size: 0;
			}
			
			&-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 15px;
				
				&::before,
				&::after {
					content: none;
				}
				
				.nav-socials {
					padding-left: 15px;
				}
				
				.logo {
					&-img {
						&::after {
							content: none;
						}
					}
					&-text {
						display: none;
					}
				}
			}
			
			&-footer {
				padding: 24px 0 8px;
			}
			
			&-footerItem {
				text-align: left;
				margin-bottom: 24px;
			}
			
			&-contacts {
				display: flex;
				align-items: center;
				margin: -15px -15px (-15px + 18px);
				
				> * {
					padding: 15px;
				}
				
				.contacts {
					&-item {
						padding: 0;
						
						> * {
							padding: 4px 0;
							
							&::before {
								content: none;
							}
						}
					}
				}
			}
			
			&-recall {
				.btn {
					font-size: 12px;
				}
			}
			
			.address {
				justify-content: flex-start;
			}
			
			&-socials {
				.socials {
					margin: 0 -4px;
					&-item {
						a {
							margin: 0 4px;
						}
					}
				}
			}
		}
	}
	
	&-nav {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	
	.nav {
		// display: flex;
		margin-left: -20px;
		margin-right: -20px;
		
		&-socials {
			display: flex;
			align-items: center;
		}
		
		> .dropdown {
			padding: 0 !important;
			height: auto;
			
			> a {
				display: block;
				padding: 15px 20px !important;
			}
			
			&:hover > a {
				color: #F2323F;
				font-weight: 600;
			}
			
			> .dropdown-menu > li:first-child {
				border-top: 2px solid #F2323F !important;
			}
		}
	}
}

.navbar {
	margin: 0;
}

.dropdown-menu {
	box-shadow: unset;
}
.main_menu_gorizontal, .main_menu_gorizontal .dropdown-menu {
	color: #2C2D30 !important;
	background: #fff !important;
}

.main_menu_gorizontal li>a {
	text-transform: none;
	.h2();
	font-weight: normal;
	color: #2C2D30;
}

.nav-justified>li {
	width: auto;
}

.main_menu_gorizontal .nav-pills>li {
	background: unset;
}

.dropdown-menu li {
	color: unset;
	padding: 0;
	border: none;
	margin: 0;
}

.dropdown-menu>li>a {
	padding: 15px 20px !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0s all;
}

.dropdown-submenu {
	position: static;
	
	.dropdown-menu {
		bottom: 0;
	}
}

.dropdown-submenu>a:after {
	.icon(10, arrow);
	margin: 0;
	margin-right: -5px;
	margin-left: 15px;
	background-repeat: no-repeat;
}

.nav-pills .dropdown-menu {
	top: 100% !important;
	margin: 0;
}

.dropdown-menu {
	padding: 0;
}

.dropdown-menu .dropdown-menu {
	top: 0 !important;
	border-left: 1px solid #E8EAED !important;
}

.dropdown-menu li:hover,
.dropdown-menu li:hover > a,
.navbar-default .navbar-nav>li>a:hover {
	background: rgba(126, 128, 133, 0.08);
	font-weight: 600;
}

.navbar-default {
	background: #fff;
	border: none;
	color: unset;
	
	.navbar-nav>li>a {
		color: unset;
	}
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background: unset;
	transition: 0s all;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: unset !important;
	color: #F2323F;
}

.menu_mobile .dropdown-menu {
	background: unset !important;
	
	a {
		font: unset;
		color: unset;
	}
}

.menu_mobile {
	.h2();
	font-weight: 400;
	border-bottom: 1px solid rgb(232, 234, 237);
	position: static !important;
}

.navbar-collapse {
	overflow: hidden !important;
}
