body {
	color: #2C2D30;
}

.h2 {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
}

.p14 {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.24px;
	color: #404145;
}

.btn {
	.h2();
	color: #fff;
	padding: 11px;
	background: #FA3F48;
	border-radius: 4px;
}
