body {

.overflow {
	overflow: hidden;
}

	color: #2C2D30;
}

.h2 {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
}

.p14 {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.24px;
	color: #404145;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	.h2();
	color: #fff;
	padding: 11px;
	background: #FA3F48;
	border-radius: 4px;
}

.socials {
	display: flex;
	align-items: stretch;
	margin: 0 -7.5px;
	
	&-item {
		> * {
			font-size: 0;
			display: flex;
			background: no-repeat content-box center / contain;
			margin: 0 7.5px;
		}
	}
	
	&-telegram::before {
		.icon(25, telegram);
	}
	
	&-instagram::before {
		.icon(25, instagram);
	}
}

