@import 'style/_fonts';
@import (reference) 'style/_mixins';

#new,
#new .reset {
	@import 'style/_reset';
	@import 'style/_grid';
	@import 'style/_styleguide';
	@import 'style/_nav';
	
	.header {
		@mb: 20px;
		padding-top: 15px;
		border-bottom: 1px solid #E8EAED;
		
		&-content {
			justify-content: center;
		}
		
		&-item {
			.c();
			width: auto;
			justify-content: center;
			margin-bottom: @mb;
		}
		
		&-contacts {
			.row();
			align-items: center;
			justify-content: center;
			
			@media (@sm) {
				justify-content: space-between;
			}
			
			.contacts {
				.col-auto();
			}
		}
		
		&-recall {
			.c();
			.col-auto();
			flex-grow: 1;
		}
		
		&-address {
			.p14();
		}
	}
	
	.logo {
		margin-bottom: -7px;
		
		> * {
			margin-bottom: 7px;
		}
		
		&-img {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			img {
				margin: 0;
			}
			
			&::after {
				align-self: stretch;
				flex-shrink: 0;
				flex-basis: 1px;
				background: #404145;
				margin-left: 15px;
				margin-right: -15px;
				
				@media (@sm) {
					content: '';
				}
			}
		}
		
		&-text {
			// .c();
			// justify-content: center;
			align-self: center;
			text-align: center;
			
			
			// p {
			// 	margin-left: auto;
			// 	margin-right: auto;
			// }
			
			@media (@sm) {
				text-align: left;
			}
		}
	}
	
	.footer {
		@mb: 24px;
		
		.footer-item {
			.c();
			margin-bottom: @mb;
		}
		
		&-content {
			padding-top: @mb;
			border-bottom: 1px solid #E8EAED;
		}
		
		&-header {
			justify-content: space-between;
			align-items: center;
		}
		
		&-body {
			.r();
			margin: -8px -40px;
		}
		
		.footerMenu-item {
			display: flex;
			padding: 8px 0;
		}
		
		.footerMenu {
			.footer-item();
			flex-shrink: 0;
			.h2();
			font-weight: 400;
			padding: 0 40px;
			
			&-contacts {
				.contacts {
					justify-content: flex-start;
					
					&-item {
						.h2();
						color: #606266;
						
						> * {
							.footerMenu-item();
							
							&::before {
								width: 14px;
								height: 14px;
							}
						}
					}
				}
			}
			
			&-socials {
				.socials	{
					.c;
					align-items: stretch;
					
					&-item {
						.footerMenu-item();
						display: flex;
						
						> * {
							flex-grow: 1;
							.btn();
							background: #F2323F;
							justify-content: flex-start;
							
							&::before {
								margin-right: 7px;
							}
						}
					}
					
					&-telegram::before {
						.icon(20, telegram-white);
					}
					&-instagram::before {
						.icon(20, instagram-white);
					}
				}
			}
		}
		
		&-madeby {
			padding-top: 11px;
			
			.madeby {
				justify-content: center;
				align-items: center;
				
				&-item {
					padding-left: 15px;
					padding-right: 15px;
					margin-left: auto;
					margin-bottom: 11px;
				}
			}
			
			.h2 {
				color: #9FA1A6;
				font-weight: 400;
			}
		}
	}
	
	.recallForm {
		margin-bottom: -7px;
		
		&-item {
			margin-bottom: 7px;
		}
		
		&-form {
			display: flex;
			justify-content: space-between;
			margin-left: -7.5px;
			margin-right: -7.5px;
			
			> * {
				padding-left: 7.5px;
				padding-right: 7.5px;
			}
		}
		
		&-item {
			.c();
			
			> * {
				flex-grow: 1;
			}
		}
	}
	
	.topBanner {
		color: #fff;
		
		&-section {
			padding-top: 124px;
			background: url('../img/topBanner.png') center / cover;
			
			@media (@sm) {
				padding-bottom: 40px;
			}
		}
		
		.ch1 {
			margin-bottom: 10px;
		}
		
		.h3 {
			margin-bottom: 24px;
		}
		
		&-pros {
			position: relative;
			overflow: hidden;
			color: #7E8085;
			background: #fff;
			padding: 12px 15px;
			margin: 83px -15px 0;
			text-transform: uppercase;
			
			@media (@sm) {
				padding: 0;
				color: unset;
				background: unset;
				margin: 85px 0 0;
				text-transform: unset;
			}
		}
	}
	
	.pros {
		display: flex;
		margin: -10px -20px;
		
		&-item {
			padding: 10px 20px;
			
			> p::before {
				content: '• ';
				
			}
		}
	}
	
	.services {
		margin-bottom: -15px;
		
		&-section {
			padding: 32px 0 55px;
			
			@media (@sm) {
				padding-top: 100px;
			}
		}
		
		&-item {
			.c();
			margin-bottom: 15px;
			
			&:nth-child(n + 4) {
				display: none;
				
				@media (@sm) {
					display: flex;
				}
			}
			
			&:first-child {
				order: 1;
				
				@media (@sm) {
					order: unset;
				}
			}
		}
		
		.remark {
			&::before {
				.icon(15, like);
				margin-right: 7px;
			}
		}
	}
	
	.servicesPromo {
		flex-grow: 1;
		.c();
		
		&-body {
			position: relative;
			order: 1;
			padding: 30px;
			padding-left: 0;
			color: #fff;
			background: #F2323F;
			box-shadow: 0px 6px 16px rgba(255, 5, 5, 0.2), 0px 0px 2px rgba(243, 12, 12, 0.06);
			border-radius: 0 10px 10px 0;
			// margin-bottom: 64px;
			
			&::before {
				content: '';
				position: absolute;
				width: 1920px;
				top: 0;
				right: 0;
				bottom: 0;
				background: inherit;
				z-index: -1;
				border-radius: 0 10px 10px 0;
			}
			
			@media (@sm) {
				order: unset;
			}
		}
		
		&-footer {
			display: flex;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-top: auto;
			margin-bottom: auto;
			
			&::before {
				flex-shrink: 0;
				.icon(25, pdf);
				margin-right: 12px;
				
				@media (@sm) {
					width: 33px;
					height: 33px;
					margin-right: 7px;
				}
			}
			
			.h3 {
				font-weight: 600;
				margin-bottom: 12px;
			}
			
			.p14 {
				margin-bottom: 14px;
			}
		}
		
	}
	
	.service {
		flex-grow: 1;
		background: #fff;
		box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.06);
		border-radius: 10px;
		overflow: hidden;
		
		&-img {
			.ratioimg(57, cover);
		}
		
		&-body {
			padding: 24px;
		}
		
		&-item {
			> p {
				&::before {
					content: '• ';
				}
			}
		}
	}
	
	.howWeWork {
		display: flex;
		margin-top: -15px;
		margin-bottom: -15px;
		
		> * {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		
		.h8 {
			margin-bottom: 32px;
		}
		
		&-promo {
			padding-right: 30px;
		}
		
		&-promoBody {
			.c();
			padding: 6px 0;
			border: 5px solid #F2323F;
			border-radius: 10px;
		}
		
		&-promoItem {
			.c();
			.p14();
			
			&:not(:last-child)::after {
				content: '';
				flex-basis: 1px;
				flex-shrink: 0;
				background: #E8EAED;
			}
		}
		
		&-promoText {
			padding: 24px;
			
			.link {
				display: block;
				margin-top: 20px;
			}
		}
		
		
		&-list {
			counter-reset: i;
		}
		
		&-listItem {
			counter-increment: i;
			margin-bottom: 30px;
			
			&::before {
				.c();
				justify-content: center;
				align-items: center;
				text-align: center;
				.h3();
				color: #fff;
				font-weight: 600;
				.icon(50, redCircle);
				content: counter(i);
				margin-bottom: 12px;
			}
		}
	}
	
	.midBanner {
		color: #fff;
		padding: 65px 0 100px;
		
		&-section {
			position: relative;
			overflow: hidden;
			background: url('../img/midBanner.png') content-box center / cover;
			
			&--book {
				display: none;
				
				@media (@xl) {
					display: block;
					padding: 70px 0 65px;
					
					.midBanner-img {
						background: url('../img/midBanner-book.png') no-repeat center / contain;
					}
				}
			}
			
			&--man {
				padding-top: 120px;
				
				.midBanner-img {
					display: block;
					background: url('../img/midBanner-man.png') no-repeat center bottom / auto 100%;
					
					@media (max-width: 1199px) {
						transform: translateX(35%);
						width: 492px;
					}
				}
				
				.h8 {
					max-width: 75%;
					
					@media (@sm) {
						max-width: none;
					}
				}
			}
		}
		
		&-img {
			position: absolute;
			order: 1;
			top: 0;
			right: 0;
			bottom: 0;
			
			@media (@xl) {
				display: block;
			}
		}
		
		.h5 {
			font-weight: normal;
			margin-bottom: 32px;
		}
		
		.h8 {
			margin-bottom: 24px;
		}
	}
	
	.ourTeam {
		&-section {
			padding: 50px 0 20px;
		}
		
		&-slider {
			.ch1 {
				color: #EB212E;
			}
			
			.slider {
				&-controls {
					top: 162px;
				}
				
				&-slide {
					.c();
				}
			}
		}
		
		&_card {
			align-self: center;
			
			&-img {
				.ratioimg(127, contain);
				width: 255px;
				margin-bottom: 16px;
			}
		}
		
		&_statistics {
			justify-content: center;
			overflow: hidden;
			margin-bottom: -40px;
			
			> * {
				margin-bottom: 40px;
			}
			
			&-before {
				position: relative;
				flex: 0 0 auto;
				width: 290px;
				height: 290px;
				.c();
				justify-content: center;
				align-items: center;
				text-align: center;
				padding: 40px;
				color: #fff;
				background: #F2323F;
				box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.06);
				border-radius: 50%;
				
				@media (@sm) {
					padding: 44px;
				}
				@media (@xl) {
					width: 425px;
					height: 425px;
					padding: 74px;
				}
				
				.b {
					font-family: Inter;
					font-style: normal;
					font-weight: bold;
					font-size: 17px;
					line-height: 24px;
					margin-bottom: 12px;
					
					@media (@sm) {
						font-size: 21px;
					}
				}
				
				&::before {
					.icon(72, smile);
					flex: 0 0 auto;
					margin-bottom: 15px;
					
					@media (@xl) {
						width: 105px;
						height: 105px;
						margin-bottom: 32px;
					}
				}
				
				&::after {
					// content: '';
					position: absolute;
					width: 100%;
					// padding-top: 100%;
					padding-left: 100%;
					// padding-top: 100%;
					top: 0;
					bottom: 0;
					background: #F2323F;
					box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.06);
					border-radius: 50%;	
					z-index: -1;
				}
			}
			
			&-content {
				.h8 {
					margin-bottom: 36px;
					
					@media (@xl) {
						margin-bottom: 48px;
					}
				}
				
				.h7 {
					color: #FA3F48;
					margin-bottom: 12px;
				}
			}
			
			&-item {
				margin-bottom: 32px;
			}
		}
		
		&-gallery {
			display: block;
			padding-bottom: 50px;
			margin-bottom: -30px;
			
			&::after {
				content: '';
				clear: both;
			}
			
			@media (@xl) {
				padding-bottom: 100px;
			}
		}
		
		&-photo {
			.col();
			width: 100%;
			float: left;
			margin-bottom: 30px;
			
			@media (@sm) {
				width: calc(100% /2 );
			}
			
			@media (@xl) {
				width: calc(100% / 3);
			}
			
			&:first-child {
				@media (@xl) {
					width: calc(200% / 3);
					
					.img::before {
						padding-top: calc(59% + 12px);
					}
				}
			}
			
			.img {
				border-radius: 5px;
				overflow: hidden;
				.ratioimg(59, contain);
				
				img {
					object-position: top;
				}
			}
		}
	}
	
	.loicences {
		display: flex;
		margin-left: -7.5px;
		margin-right: -7.5px;
		
		> * {
			padding-left: 7.5px;
			padding-right: 7.5px;
		}
		
		&::after {
			flex: 0 0 calc(700% / 12);
			background: url('../img/loicences.png') no-repeat top / contain;
			
			@media (@xl) {
				content: '';
			}
		}
		
		&-section {
			padding: 50px 0;
			background: #F8F9FA;
		}
		
		&-content {
			margin-bottom: 60px;
		}
		
		.h5 {
			margin-bottom: 1em;
		}
		
		.p21 {
			margin: 32px 0;
			
			@media (@xl) {
				margin: 48px 0;
			}
		}
		
		&-pros {
			margin-bottom: -32px;
			
			.h3 {
				font-weight: bold;
				margin-bottom: 7px;
			}
		}
		
		&-prosItem {
			display: flex;
			margin-bottom: 32px;
			
			&::before {
				flex-shrink: 0;
				margin-right: 14px;
			}
			
			&._guarantee {
				&::before {
					.icon (40, guarantee);
				}
			}
			&._discount {
				&::before {
					.icon (40, discount);
				}
			}
		}
		
		&-slide {
			.ratioimg(137, contain);
			// visibility: hidden;
			// box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.1);
		}
		
		&-slider {
			.slider {
				// overflow: visible;
				
				&-pagination {
					display: flex;
					justify-content: center;
				}
				
				&-bullet {
					width: 13px;
					height: 13px;
					border: 1px solid #F2323F;
					border-radius: 50%;
					cursor: pointer;
					
					&:not(:last-child) {
						margin-right: 10px;
					}
					
					&_active {
						background: #F2323F;
						box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
						cursor: default;
					}
				}
				
				&-slides {
					margin-bottom: 35px;
				}
				
				// &-slide {
				// 	transition: .2s all;
				// 	opacity: 0;
				// 
				// 	&._visible {
				// 		opacity: 1;
				// 	}
				// }
			}
		}
	}
	
	.ourClients {
		&-section {
			padding: 60px 0;
		}
		
		&-list {
			margin-bottom: -30px;
		}
		
		&-item {
			margin-bottom: 30px;
		}
	}
	
	.mapContacts {
		display: flex;
		
		@media (@xl) {
			&::before {
				content: '';
				flex-basis: calc(100% / 12);
			}
		}
		
		&-section {
			.c();
			position: relative;
		}
		
		&-map {
			background: grey;
			height: 450px;
			order: 1;
			z-index: -1;
			
			@media (@xl) {
				position: absolute;
				height: auto;
				top: 60px;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
		
		&-content {
			flex: 1 1 350px;
			max-width: 350px;
			padding: 30px;
			padding-bottom: 50px;
			color: #fff;
			background: #F2323F;
			box-shadow: 0px 6px 16px rgba(255, 5, 5, 0.2), 0px 0px 2px rgba(243, 12, 12, 0.06);
			border-radius: 10px 10px 0 0;
			overflow: hidden;
		}
		
		&-list {
			margin-bottom: 48px;
		}
		
		&-item {
			margin-bottom: 32px;
		}
		
		.h8 {
			text-align: center;
			margin-bottom: 36px;
			
			@media (@xl) {
				margin-bottom: 48px;
			}
		}
		
		.ch2 {
			opacity: 0.7;
			margin-bottom: 12px;
		}
		
		.recallForm {
			&-form {
				flex-direction: column;
			}
			
			&-item {
				max-width: unset;
			}
		}
		
		.btn {
			background: #fff;
			color: #F2323F;
		}
	}
	
	.portfolio {
		.c();
		
		&-section {
			padding: 35px 0 62px;
			
			@media (@xl) {
				padding: 70px 0 124px;
			}
		}
		
		.h5 {
			margin-bottom: 36px;
		}
		
		&-tabs {
			align-self: flex-end;
			margin-top: 7px;
		}
		
		&-tab {
			.btn();
			padding: 15px 15px 30px;
			.ch2();
			color: #fff;
			background: #F2323F;
			border-radius: 15px 15px;
			margin-bottom: -15px;
		}
		
		&-slides {
			position: relative;
			
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: #fff;
			}
		}
		
		&-slide {
			position: relative;
			padding: 30px;
			background: #fff;
			box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.06);
			border-radius: 10px;
			overflow: hidden;
			transition: .2s all;
			
			&:not(.active) {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transform: translateY(50px) scale(.9);
				// left: 24px;
				// right: 24px;
				// bottom: -24px;
				background: #F3FAFC;
				box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.06);
				z-index: -1;
			}
		}
		
		&-card {
			margin-bottom: -30px;
			
			> * {
				.c();
				margin-bottom: 30px;
			}
			
			.ch2 {
				margin-bottom: 16px;
			}
			
			.p17 {
				margin-bottom: 32px;
			}
			
			.nextSlide {
				.btn();
				.versa();
				align-self: flex-end;
				border: 1px solid #F2323F;
				box-sizing: border-box;
				border-radius: 4px;
				margin-top: 7px;
				
				&::before {
					order: 1;
					.icon(14, redArrow);
					margin-left: 7px;
				}
			}
		}
		
		&-content {
			.c();
		}
		
		&-stats {
			.row();
			margin-bottom: 15px;
			
			@media (@xl) {
				margin-bottom: 0;
			}
		}
		
		&-characteristic {
			margin-bottom: 24px;
		}
		
		&-property {
			.ch2();
			margin-bottom: 6px;
			
			&::before {
				margin-bottom: 12px;
			}
			
			&._house::before {
				.icon(25, house);
			}
			&._stairs::before {
				.icon(25, stairs);
			}
			&._clock::before {
				.icon(25, clock);
			}
			&._face::before {
				.icon(25, face);
			}
		}
		
		&-value {
			.p17();
			margin-bottom: 0;
		}
		
		&-gallery {
			margin: -7.5px;
			
			&::after {
				content: '';
				clear: both;
			}
		}
		
		&-img {
			float: left;
			width: calc(100% / 3);
			padding: 7.5px;
			border-radius: 5px;
			overflow: hidden;
			
			&:first-child {
				width: 100%;
			}
			
			.img {
				.ratioimg(70.6, contain);
			}
		}
		
		&-price {
			margin-right: -30px;
			margin-left: auto;
		}
		
		&-priceForm {
			padding: 15px;
			color: #fff;
			background: #F2323F;
			box-shadow: 0px 6px 16px rgba(255, 5, 5, 0.2), 0px 0px 2px rgba(243, 12, 12, 0.06);
			border-radius: 10px 0 0 10px;
			overflow: hidden;
			
			> * {
				padding: 15px;
			}
			
			.h5 {
				margin-bottom: 0;
			}
		}
	}
	
	.appDownload {
		margin: -15px;
		
		&-item {
			padding: 15px;
		}
		
		&-btn {
			display: block;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 255px;
			height: 71px;
		}
	}
	
}
